rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /journeys/{journeyId}/{file} {
      function isMember() {
        return request.auth != null
          && request.auth.uid in firestore
               .get(/databases/(default)/documents/journeys/$(journeyId))
               .data.memberIds;
      }
      allow read, write: if isMember();
    }

    match /{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}